.contanier{

    display: flex;
    background-color: aqua;
}
.contanier div{
    background-color: wheat;
    margin: 10px;
    padding: 25px;
    font-size: 35px;
}

.contanier div :nth-child(1){
    order: 1;
}

.contanier div :nth-child(3){
    order: 4;
}

.contanier2 {
    display: flex;
    background-color: rgb(red, green, blue);
    flex-direction: column-reverse;
}
.contanier2 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
}

.contanier3 {
    display: flex;
    background-color: rgb(rgb(131, 73, 73), rgb(47, 134, 47), blue);
    flex-direction: row;
}
.contanier3 div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
}

.contanier3 div :nth-child(1){
    flex-grow: 4;
}

.contanier4 {
    display: flex;
    background-color: rgb(rgb(0, 198, 212), rgb(47, 134, 47), rgb(139, 28, 121));
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.contanier4 div{
    background-color: rgb(6, 33, 56);
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 30%;
}


.contanier5 {
    display: flex;
    background-color: blueviolet;
    flex-direction: row;
    justify-content: space-around;
}

.contanier4 div{
    background-color: rgb(235, 252, 8);
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 400px;
}





